In [1]:
#standard imports
import numpy as np
import pandas as pd

Importing Data

In [2]:
bg_info = pd.read_csv("../data/bg_info.csv")
bg_artists = pd.read_csv("../data/bg_artists.csv")
bg_designers = pd.read_csv("../data/bg_designers.csv")
bg_publishers = pd.read_csv("../data/bg_publishers.csv")

In [3]:
bg_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25339 entries, 0 to 25338
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Title          25339 non-null  object
 1   Geek Rating    25339 non-null  float64
 2   Avg rating     25339 non-null  float64
 3   Num of voters  25339 non-null  int64
 4   Price          4150 non-null   float64
 5   Year           25113 non-null  float64
 6   Complexity     25339 non-null  float64
 7   Min players    25298 non-null  float64
 8   Max players    25298 non-null  float64
 9   Min time       24513 non-null  float64
 10  Max time       24513 non-null  float64
 11  Age            23841 non-null  float64
 12  Type 1         13327 non-null  object
 13  Type 2         1828 non-null   object
dtypes: float64(10), int64(1), object(3)
memory usage: 2.7+ MB

In [4]:
bg_artists.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25609 entries, 0 to 25608
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Title     25609 non-null  object
 1   Artist 1  18855 non-null  object
 2   Artist 2  7074 non-null   object
 3   Artist 3  3076 non-null   object
 4   Artist 4  1513 non-null   object
 5   Artist 5  334 non-null    object
dtypes: object(6)
memory usage: 1.2+ MB

In [5]:
bg_designers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25528 entries, 0 to 25527
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Title       25528 non-null  object
 1   Designer 1  24660 non-null  object
 2   Designer 2  6808 non-null   object
 3   Designer 3  1684 non-null   object
 4   Designer 4  486 non-null    object
 5   Designer 5  91 non-null     object
dtypes: object(6)
memory usage: 1.2+ MB

In [6]:
bg_publishers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25302 entries, 0 to 25301
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Title        25302 non-null  object
 1   Publisher 1  25286 non-null  object
 2   Publisher 2  7566 non-null   object
 3   Publisher 3  3262 non-null   object
 4   Publisher 4  1828 non-null   object
 5   Publisher 5  373 non-null    object
dtypes: object(6)
memory usage: 1.2+ MB

BG Info Overview

In [7]:
bg_info

,Title,Geek Rating,Avg rating,Num of voters,Price,Year,Complexity,Min players,Max players,Min time,Max time,Age,Type 1,Type 2
0,Brass: Birmingham,8.421,8.61,41991,84.99,2018.0,3.89,2.0,4.0,60.0,120.0,14.0,Strategy,NaN
1,Pandemic Legacy: Season 1,8.386,8.53,51950,49.97,2015.0,2.83,2.0,4.0,60.0,60.0,13.0,Strategy,Thematic
2,Gloomhaven,8.374,8.61,60276,NaN,2017.0,3.90,1.0,4.0,60.0,120.0,14.0,Strategy,Thematic
3,Ark Nova,8.321,8.53,37020,58.99,2021.0,3.74,1.0,4.0,90.0,150.0,14.0,Strategy,NaN
4,Twilight Imperium: Fourth Edition,8.242,8.61,22123,126.49,2017.0,4.31,3.0,6.0,240.0,480.0,14.0,Strategy,Thematic
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25334,Stupid Deaths,5.352,4.47,342,NaN,2018.0,1.00,2.0,6.0,NaN,NaN,12.0,NaN,NaN
25335,Stay Alive,5.352,5.05,903,NaN,1965.0,1.21,2.0,4.0,30.0,30.0,8.0,Abstract,Family
25336,Gazdálkodj Okosan!,5.351,4.54,302,NaN,1960.0,1.22,2.0,7.0,45.0,45.0,NaN,NaN,NaN
25337,Pie Face,5.348,4.80,500,25.98,1964.0,1.00,2.0,4.0,15.0,15.0,5.0,Children's,NaN
25338,Redshirts,5.348,4.60,366,NaN,2012.0,1.42,2.0,7.0,30.0,30.0,12.0,NaN,NaN